@*@using AD_Team10.Authentication;
@{
    var user = (CustomPrincipal)System.Web.HttpContext.Current.User;
}
<div class="info">
    <div class="logo">
        @Html.ActionLink("LU", "Index", null, new { @class = "short-name" })
        @Html.ActionLink("Logic University", "Index", null, new { @class = "full-name" })
    </div>

    <div class="staff-info">
        <div class="designation">
            @user.Role
        </div>
        <div class="staff-profile">
            <span class="staff-name">
                Welcome, @(user.MiddleName == null ? (user.FirstName + " " + user.LastName)
                                : (user.FirstName + " " + user.MiddleName + " " + user.LastName))
            </span>
            <span class="log-out">
                @Html.ActionLink("Log out", "LogOut", "Home")
            </span>
        </div>
    </div>
</div>*@

