<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<<<<<<< HEAD
    @Styles.Render("~/ Content/fontawesome")
    @*<script src="https://kit.fontawesome.com/1adf121cc7.js" crossorigin="anonymous"></script>*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css" rel="Stylesheet" type="text/css" />
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js" crossorigin="anonymous"></script>

    @*<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>*@
</head>
<body style="margin-top: 110px">
=======
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Logic University", "Index", "Home", new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
>>>>>>> 10578a09f5d6cdf27db9a235fc7f8c6c6b60fd2b
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
<<<<<<< HEAD
            <p>&copy; @DateTime.Now.Year - Logic University</p>
=======
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
>>>>>>> 10578a09f5d6cdf27db9a235fc7f8c6c6b60fd2b
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<<<<<<< HEAD

  

    <script>
        $("li>a").on("click", function () {
            localStorage.setItem("currentUrl", $(this).attr("href"));
        })
        $('document').ready(function () {
            $('li>a').each(function () {
                if ($(this).attr('href') == localStorage.getItem("currentUrl")) {
                    if ($(this).parent('li').attr('class') == 'non-dropdown') css($(this));
                    else css($(this).parent('li').parent('ul').siblings('a'));
                }
            })
        })

        function css(obj) {
            obj.css("background-color", "#cc9216");
            obj.css("color", "#fff")
        }
    </script>    
</body >
</html >
=======
</body>
</html>
>>>>>>> 10578a09f5d6cdf27db9a235fc7f8c6c6b60fd2b
