@model Tuple<List<AD_Team10.Models.Requisition>, AD_Team10.Models.Department, AD_Team10.Models.CollectionPoint>

@{
    ViewBag.Title = "ViewRequisitionHistory";
}

<div id="navigation">
    @Html.Partial("~/Views/Store/Clerk/_ClerkNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3 align="center">Requisition History</h3><hr />

    @using (Html.BeginForm())
    {
        <div class="superDiv">
            <div class="listDiv">
                <span>Filter by</span>
            </div>
            <div class="listDiv">
                @Html.HiddenFor(m => m.Item2.DepartmentID, "DepartmentID")
                @Html.DropDownList("DepartmentID", ViewBag.DepartmentID as SelectList, "Department", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="listDiv">
                @Html.HiddenFor(m => m.Item3.CollectionPointID)
                @Html.DropDownList("CollectionPointID", ViewBag.CollectionPointID as SelectList, "CollectionPoint", htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="listDiv">
                <button type="submit" class="btn btn-default">VIEW</button>
            </div>
        </div>
    }

    <table class="table" align="center">
        <tr>
            <th>
                Requisition Date
            </th>
            <th>
                Department Name
            </th>
            <th>
                Collection Point Name
            </th>
            <th>
                Status
            </th>

            <th>Details</th>
        </tr>
        @if (Model.Item1.Count() == 0)
        {
            <tr>
                <td colspan="6" align="center">
                    There's nothing you want!
                </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.Item1)
            {
                <tr>
                    <td>
                        @{
                            string dateValue = item.RequisitionDate.ToString("dd/MM/yyyy");
                        }
                        @Html.DisplayFor(modelItem => dateValue)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Department.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee.Department.CollectionPoint.CollectionPointName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewDetails", new { id = item.RequisitionID })
                    </td>
                </tr>
            }
        }

    </table>
</div>


