
<div class="navbar navbar-inverse navbar-fixed-top">
    
        @Html.Partial("~/Views/Shared/_BasicInfo.cshtml")
    
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Requisitions <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Requisition", "Requisition", "Clerk")</li>
                        <li>@Html.ActionLink("Create Requisition", "CreateRequisition", "Clerk")</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Purchase Orders <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Purchase Order", "PurchaseOrder", "Clerk")</li>
                        <li>@Html.ActionLink("Create Purchase Order", "CreatePurchaseOrder", "Clerk")</li>
                    </ul>
                </li>
                <li class="non-dropdown">@Html.ActionLink("Inventory", "Inventory", "Clerk")</li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Adjustment Voucher <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("View Adjustment Voucher", "AdjustmentVoucher", "Clerk")</li>
                        <li>@Html.ActionLink("Create Adjustment Voucher", "CreateVoucher", "Clerk")</li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Trend Analysis <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Department Requisition Report", "RequisitionReport", "Clerk")</li>
                        <li>@Html.ActionLink("Purchase Order Report", "OrderReport", "Clerk")</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
