@model PagedList.IPagedList<AD_Team10.Models.Requisition>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    var departmentList = ViewBag.departments;
    var collectionPoints = ViewBag.collectionPoints;
    var statusList = ViewBag.statusList;
}

<div id="navigation">
    @Html.Partial("~/Views/Store/Clerk/_ClerkNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3 align="center">PENDING REQUISITIONS</h3>

    <div class="filter-option">
        <button id="clear">Clear</button>
        <div class="filter">
            <span>Filter by collection point: </span>
            <select name="filterClerk" id="filterCollectionPoint">
                @foreach (var c in collectionPoints)
                {
                    <option value="@Url.Action("GetPendingList", "Clerk", new { department = ViewBag.department, collectionPoint = c.CollectionPointID, status = ViewBag.status})">@c.CollectionPointName</option>
                }
            </select>
        </div>

        <div class="filter">
            <span>Filter by department: </span>
            <select name="filterStatus" id="filterDepartment">
                @foreach (var d in departmentList)
                {
                    <option value="@Url.Action("GetPendingList", "Clerk", new { department = d.DepartmentID, collectionPoint = ViewBag.collectionPoint, status = ViewBag.status })">@d.DepartmentName</option>
                }
            </select>
        </div>

        <div class="filter">
            <span>Filter by status: </span>
            <select name="filterStatus" id="filterStatus">
                @foreach (var s in statusList)
                {
                    <option value="@Url.Action("GetPendingList", "Clerk", new { department = ViewBag.department, collectionPoint = ViewBag.collectionPoint, status = s })">@(s=="Approved" ? "Pending" : s)</option>
                }
            </select>
        </div>
    </div>

    @if (!Model.Any())
    {
        if (ViewBag.status == null)
        {
            <p>No requisition is pending or incomplete.</p>
        }
        else
        {
            <p>No requisition matches the condition.</p>
        }
    }
    else
    {
        <table class="table table-hover">
            <tr>
                <th>
                    Requisition Date
                </th>
                <th>
                    Department Name
                </th>
                <th>
                    Collection Point Name
                </th>
                <th>
                    Status
                </th>

                <th>Details</th>
            </tr>

           

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @{
                                string dateValue = item.RequisitionDate.ToString("dd/MM/yyyy");
                            }
                            @Html.DisplayFor(modelItem => dateValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Department.DepartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Department.CollectionPoint.CollectionPointName)
                        </td>
                        <td>
                            @(item.Status.ToString() == "Approved" ? "Pending" : item.Status.ToString())
                        </td>
                        <td>
                            @Html.ActionLink("View", "ViewDetails", new { id = item.RequisitionID })
                        </td>
                    </tr>
                
            }
        </table>
    }

    <div class="pagedlist">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("GetPendingList",
            new { page }))
    </div>
</div>
<script>

    $(document).ready(function () {
        var selectedItem = sessionStorage.getItem("SelectedRequisition");
        $('#filterCollectionPoint').val(selectedItem);
        $('#filterDepartment').val(selectedItem);
        $('#filterStatus').val(selectedItem);
    });

    $('#filterDepartment').on('change', function () {
        location.href = this.value;
        sessionStorage.setItem("SelectedRequisition", this.value);
    });

    $('#filterCollectionPoint').on('change', function () {
        location.href = this.value;
        sessionStorage.setItem("SelectedRequisition", this.value);
    });

    $('#filterStatus').on('change', function () {
        location.href = this.value;
        sessionStorage.setItem("SelectedRequisition", this.value);
    });

        $("#clear").on('click', function () {
            sessionStorage.setItem("SelectedRequisition", "");
        location.href = '@Url.Action("GetPendingList", "Clerk")';
    })
</script>





