@*Author: Wang Wang Wang*@

@model List<AD_Team10.Models.PurchaseOrderDetail>
@using AD_Team10.Models
@{
    ViewBag.Title = "ViewOrderDetails";
}

@{
    PurchaseOrder order = (PurchaseOrder)ViewData["purchaseOrder"];
}

<div id="navigation">
    @Html.Partial("~/Views/Store/Clerk/_ClerkNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3 align="center">ORDER NO. @order.PurchaseOrderID</h3>
    <hr />

    <div class="orderDetail">
        <div class="div1">
            <div>
                <span style="font-weight: bold">Supplier: </span>@order.Supplier.SupplierName
            </div>
            <div>
                <span style="font-weight: bold">Deliver to: </span>Logic University Stationery Store
            </div>
            <div>
                <span style="font-weight: bold">Total amount: </span>@totalPrice()
            </div>
            @if (order.OrderStatus == OrderStatus.Completed)
            {
                <div>
                    <span style="font-weight: bold">Completed Time: </span>@order.CompletedDate.Value.ToString("dd/MM/yyyy")
                </div>
            }
        </div>
        <div class="div2">
            @if (order.OrderStatus != OrderStatus.Completed)
            {
                <div>
                    <a href="@Url.Action("UpdatePurchaseOrder", "Clerk", new { orderID = @order.PurchaseOrderID })" class="update">Update</a>
                </div>
            }
        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th>
                Description
            </th>
            <th>
                Quantity Requested
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity Received
            </th>
            <th>Quantity Remaining</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityReceived)
                </td>
                <td>
                    @(item.Quantity - item.QuantityReceived)
                </td>
            </tr>
        }
    </table>
</div>


@functions{
    float totalPrice()
    {
        float sum = 0;
        foreach (var item in Model)
        {
            sum += item.Price * item.Quantity;
        }
        return sum;
    }
}

