@model AD_Team10.Models.Requisition
@{
    ViewBag.Title = "UpdateRequisitionDetails";
}

@{
    int num = 0;
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h3 align="center">REQUISITION NO. @Html.DisplayFor(model => model.RequisitionID)</h3>
<hr />
<div class="detailDiv">
    <div>
        <dl class="dl-horizontal">
            <dt>
                Department:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.Department.DepartmentName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Employee.Department.DepartmentCode):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.Department.DepartmentCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status):
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <div>
        <dl class="dl-horizontal">
            <dt>
                Employee Name:
            </dt>

            <dd>
                @{
                    string nameValue = Model.Employee.ToString();
                }
                @Html.DisplayFor(model => nameValue)
            </dd>

            <dt>
                Employee Phone:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.Phone)
            </dd>

            <dt>
                Employee Email:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Employee.Email)
            </dd>

            <dt>
                Time:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RequisitionDate)
            </dd>
        </dl>
    </div>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RequisitionID)
    <table class="table table-hover">
        <thead>
            <tr class="bg-primary">
                <th>Item No.</th>
                <th>Description</th>
                <th>Quantity Requested</th>
                <th>Quantity Received</th>
                <th>Quantity Remaining</th>
            </tr>
        </thead>
        @for (int i = 0; i < Model.RequisitionDetails.Count; i++)
        {
            <tbody>
                <tr>
                    <td>
                        @(num + 1)
                    </td>
                    <td>
                        @Model.RequisitionDetails[i].Item.Description
                    </td>
                    <td>
                        @Model.RequisitionDetails[i].Quantity
                    </td>
                    <td>
                        @Html.EditorFor(modelItem => modelItem.RequisitionDetails[i].QuantityReceived, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(modelItem => modelItem.RequisitionDetails[i].QuantityReceived, "", new { @class = "text-danger" })
                    </td>
                    <td>
                        @(Model.RequisitionDetails[i].Quantity - Model.RequisitionDetails[i].QuantityReceived)
                    </td>
                </tr>
            </tbody>
            num++;
        }

    </table>

    <div align="right">
        <input type="submit" value="Save" class="btn btn-default" />
    </div>
}

<style>
    .detailDiv {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
</style>

