@*Author: Stephanie Cheng Sin Yin*@

@using AD_Team10.Models
@model RequisitionDetail

@{
    var items = ViewBag.items;
    var quantities = ViewBag.quantities;
    var quantities2 = ViewBag.quantities2;
    var quantities3 = ViewBag.quantities3;
    var employees = ViewBag.employees;
    var reqIds = ViewBag.reqIds;
    var items2 = ViewBag.items2;
    var items3 = ViewBag.items3;
    var reqIDs = ViewBag.reqIDs;
    var more = ViewBag.more;
    int num = 0;
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>
<div class="container-fluid body">
    <h3>REQUISITIONS PENDING APPROVAL</h3>
    @if (items.Count > 0)
    {
        <table class="table table-hover">
            <tr>
                <th>No</th>
                <th>Ordered By</th>
                <th>Items</th>
                <th>Quantity</th>
                <th>Details</th>
            </tr>
            <tbody>
                @for (int i = 0; i < items.Count; i++)
                {
                    <tr>
                        <td><p class="vertical-center">@(num + 1) </p></td>
                        <td>
                            <p class="vertical-center">@employees[i]</p>
                        </td>
                        <td>

                            <p>@items[i]</p>
                            @if (items2[i] != null)
                            {
                                <p>@items2[i]</p>
                            }
                            @if (items3[i] != null)
                            {
                                <p>@items3[i]</p>
                            }
                            @if (more[i] == true)
                            {
                                <p>...</p>
                            }

                        </td>
                        <td>

                            <p>@quantities[i]</p>
                            @if (quantities2 != null && quantities2[i] != null)
                            {
                                <p>@quantities2[i]</p>
                            }

                            @if (quantities3 != null && quantities3[i] != null)
                            {
                                <p>@quantities3[i]</p>
                            }
                            @if (more[i] == true)
                            {
                                <p>...</p>
                            }

                        </td>
                        <td class="vertical-center">@Html.ActionLink("View", "RequisitionDetails", new { requisitionId = reqIDs[i] }, new { @class = "view-detail" })</td>
                    </tr>
                    num++;
                }

            </tbody>
        </table>
    }
    else
    {
        <p class="center">There are currently no requisitions that require approval.</p>
    }
</div>