@*Author: Stephanie Cheng Sin Yin*@

@{
    var reqDetail = ViewBag.reqDetail;
    var req = ViewBag.req;
    var empName = ViewBag.name;
    var itemNames = ViewBag.itemNames;
    var item = ViewBag.item;
    var date = ViewBag.date;
    var message = ViewBag.message;
}

@if (message != null)
{
    <script type="text/javascript">
        window.onload = function ()
        {
            alert("@message");
        };
    </script>
}

<div id="navigation">
    @Html.Partial("~/Views/Department/Head/_HeadNavigation.cshtml")
</div>

<div class="container-fluid body">
    <h3>REQUISITION DETAILS</h3>

    <p class="center">Date: @date </p>
    <p class="center">Employee: @empName </p>
    <p class="center">Status: @req.Status </p>

    <table class="table">

        <tr>
            <th>Item</th>
            <th>Quantity</th>
        </tr>

        <tbody>
            @for (int i = 0; i < reqDetail.Count; i++)
            {
                <tr>
                    <td>@itemNames[i]</td>
                    <td>@reqDetail[i].Quantity</td>
                </tr>
            }
        </tbody>
    </table>

    @if (message == null)
    {
        <p></p>
        <p>Remarks:</p>
        using (Html.BeginForm("Decision", "Head", FormMethod.Post))
        {
            <input type="text" name="remarks" class="remarks">
            <input type="hidden" name="reqID" value="@req.RequisitionID" />
            <p></p>
            <p>
                <input type="submit" name="button" value="Approve" class="button approve" />
                <input type="submit" name="button" value="Reject" class="button reject" />
            </p>
        }
    }
</div>


